.player1
  color: $player1-color

.player2
  color: $player2-color

.tournament
  font-family: $font-family
  border-radius: 3px
  border: 1px solid $grey
  margin: 40px 0
  padding: 0

  & header
    box-shadow: 0 6px 10px -3px $grey

    & .result-board
      overflow: auto
      padding-bottom: 15px

  & .games
    overflow-y: hidden

    & .game-canvas
      padding: 20px

    & .game
      height: calc($canvas-size + $controls-height)
      overflow-x: hidden
      overflow-y: auto

      & .canvas
        margin: auto
        height: $canvas-size
        width: $canvas-size
        background-color: $grey

      & .controls
        margin: auto
        height: $controls-height
        width: $canvas-size
        display: flex
        border: 1px solid #ddd
        border-radius: 3px
        border-top: 0

        & div
          flex: 1
          line-height: $controls-height
          cursor: pointer

          &:hover
            background-color: $grey

    & .list
      color: #666
      background-color: $grey
      overflow-y: auto
      max-height: 400px
      padding-left: 0

      & .item
        padding-left: 10px
        height: 80px
        line-height: 40px
        font-size: 19px
        cursor: pointer
        overflow: hidden

        &.player1-won
          border-left: 5px solid $player1-color

        &.player2-won
          border-left: 5px solid $player2-color

        & div
          height: 79px
          margin-left: 10px
          border-bottom: 1px solid #ddd

        &:last-child div
            border: 0

        & p
          font-size: 11px

          & span
            padding: 5px

          & .player1
            color: $player1-color


          & .player-o
            color: $player2-color
